
  <mat-vertical-stepper [linear]="false" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <!-- para cada passageiro renderizar um form de dados pessoais -->
        <form class="example-container" *ngFor="let p of dados_pessoas;  let j = index">
            <ng-template matStepLabel>Dados Pessoais</ng-template>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Nome</mat-label>
                <input matInput name={{p.nome}} [(ngModel)]="dados_pessoas[j][0]" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Número</mat-label>
                <input matInput name={{p.numero}} [(ngModel)]="dados_pessoas[j][1]" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>idade</mat-label>
                <input matInput name={{p.idade}} [(ngModel)]="dados_pessoas[j][2]" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
        </form>
        <div>
            <button mat-button matStepperNext (click)="recebeDadosPessoas()">Avançar</button>
        </div>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
        <form class="example-container">
            <ng-template matStepLabel>Dados de Pagamento</ng-template>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Nome do cartão</mat-label>
                <input matInput [(ngModel)]="nome_cartao" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Número do cartão</mat-label>
                <input matInput [(ngModel)]="num_cartao" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>CRV</mat-label>
                <input matInput [(ngModel)]="crv" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Vencimento</mat-label>
                <input matInput [(ngModel)]="venc_cartao" [ngModelOptions]="{standalone: true}">
                <mat-hint>MM/YYYY</mat-hint>
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width" appearance="fill" id="valor_total">
                <mat-label>Valor da compra</mat-label>
                <input matInput disabled="true" value="R$ {{valor_total}}">
            </mat-form-field>
            <mat-form-field appearance="fill" id="destino">
                <mat-label>Parcelas</mat-label>
                <mat-select [(ngModel)]="parcelas" [ngModelOptions]="{standalone: true}">
                  <mat-option value="1">1x de R$ {{valor_total}}</mat-option>
                  <mat-option value="2">2x de R$ {{valor_total/2}}</mat-option>
                  <mat-option value="3">3x de R$ {{valor_total/3}}</mat-option>
                  <mat-option value="4">4x de R$ {{valor_total/4}}</mat-option>
                  <mat-option value="5">5x de R$ {{valor_total/5}}</mat-option>
                  <mat-option value="6">6x de R$ {{valor_total/6}}</mat-option>
                </mat-select>
            </mat-form-field>
            <div>
                <button mat-button matStepperPrevious>Voltar</button>
                <button mat-button (click)="finalizarCompra()" id="finalizar">Confirmar Compra</button>
            </div>
        </form>
    </mat-step>
  </mat-vertical-stepper>